/* fix giao dien khac vi vid de phu hop voi khung mh */
.layout {
  /* width: 100vw; */
  height: 100vh;
}

.sidebar {
  background-color: #2f2235;
  padding: 10px;
  border-radius: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: -webkit-sticky; */
  position: fixed;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  gap: 15px;
  color: white !important;
}

.active-menu-item {
  border: 2px solid white;
  border-radius: 5px;
}

.body {
  width: 1070px;

  margin-left: 185px;
}

.header {
  background-color: #2f2235;
  color: white !important;
  width: 100%;
  padding: 10px;
  border-radius: 0px;
  align-items: center !important;
  font-weight: 800;
}

.header h1 {
  margin: 0 auto;
  font-weight: 800;
}

.avatar {
  /* position: absolute; */
  /* top: 40px; */
  /* transform: translate(25px, -25px); */
  position: absolute;
  top: 13%;
  right: 50%;
  width: 100%;
  transform: translate(50%, -50%);
}

.avatar,
.des {
  z-index: 10;
  text-align: center;
}

.img-icon-avatar {
  height: 50px;
  width: 50px;
  object-fit: cover;
  z-index: 10;
}

.name-person {
  color: white;
  margin: 0 auto;
  font-weight: bold;
}

.des .logout {
  font-size: 16px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  padding: 4px;
  transition: 0.2s linear;
  background-color: #e7e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.des .logout i {
  font-size: 12px;
}

.content {
  width: 95%;
  justify-content: center;
  /* text-align: center; */
  align-items: center;
  margin-left: 25px;
}
